{% extends 'base.html' %}

{% block title %}my skills{% endblock title %}

  
{% block scripts %}
<script>
$(document).ready(function(){
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [{% for item in qs %}'{{item.name}}',{% endfor %}],
            datasets: [{
                label: '# of points',
                data: [{% for item in qs %}{{item.score}},{% endfor %}],
                backgroundColor: 'rgba(255, 99, 132, 0.5)',
                borderColor: 'rgba(255, 159, 64, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
});
</script>
{% endblock scripts %}

{% block content %}
<div class="ui grid">
    <div class="four wide column">
        <form action="" method="POST" class="form ui" autocomplete="off">
            {% csrf_token %}
            {{formset.as_p}}
            <button class="secondary button ui" type="submit">Send</button>
        </form>
    </div>
    <div class="twelve wide column">
        <canvas id="myChart" width="400" height="300"></canvas>
    </div>
</div>

{% endblock content %}